body {
    box-sizing: border-box;
    display: grid;
    font-family: "Fredoka", Arial, Helvetica, sans-serif;
    grid-template-columns: 20% 80%;
    height: 100vh;
    margin: 0;
}

header {
    background-color: #f0f0f0;
}

header .logo-titulo,
header .lista-rutas {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px 30px;
}

header .logo-titulo img {
    height: 180px;
    width: 180px;
}

header .lista-rutas {
    gap: 8px;
    list-style: none;
}

header .lista-rutas .enlace-ruta {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    color: #000;
    cursor: pointer;
    padding: 10px;
    text-decoration: none;
    width: 100%;
}

header .lista-rutas .enlace-ruta.activo,
header .lista-rutas .enlace-ruta:hover,
main .inicio-sesion form button:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
}

header .lista-rutas .enlace-ruta .ruta {
    align-items: center;
    display: flex;
    gap: 10px;
    font-size: 18px;
    font-weight: 600;
}