body {
    box-sizing: border-box;
    font-family: "Fredoka", Arial, Helvetica, sans-serif;
    margin: 0;
}

.index {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 100vh;
}

.index .logo-titulo,
.index .inicio-sesion {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.index .logo-titulo {
    background-color: #6790ff;
}

.index .logo-titulo h1 {
    color: #3a3a3a;
    font-size: 44px;
}

.index .inicio-sesion {
    background-color: #f0f0f0;
    position: relative;
}

.index .inicio-sesion .mensaje {
    animation: mostrarOcultar 4s forwards;
    border-radius: 4px;
    font-weight: 700;
    padding: 12px 16px;
    position: absolute;
    top: 10%;
    opacity: 0;
}

.index .inicio-sesion .mensaje.success {
    background-color: #75ffa3;
}

.index .inicio-sesion .mensaje.error {
    background-color: #ff8080;
}

@keyframes mostrarOcultar {
    0%   { 
        opacity: 0; 
    }
    10%  { 
        opacity: 1; 
    }
    90%  { 
        opacity: 1; 
    }
    100% { 
        opacity: 0; 
    }
}

.index .inicio-sesion h2 {
    font-size: 36px;
}

.index .inicio-sesion form {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    margin-top: 20px;
}

.index .inicio-sesion form .control {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.index .inicio-sesion form .control label {
    color: #000;
    font-size: 18px;
    font-weight: 700;
}

.index .inicio-sesion form .control input {
    border: none;
    border-radius: 4px;
    font-size: 16px;
    height: 34px;
    padding: 5px;
    width: 350px;
}

.index .inicio-sesion form .control input:focus {
    border: 1px solid #6790ff;
    box-shadow: 0 0 5px rgba(103, 144, 255, 0.5);
    outline: none;
}

.index .inicio-sesion form .control .contrasena-icono {
    position: relative;
}

.index .inicio-sesion form .control .mostrar-contrasena {
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    user-select: none;
}

.index .inicio-sesion form button {
    background-color: #6790ff;
    border: none;
    border-radius: 4px;
    color: #3a3a3a;
    font-size: 20px;
    font-weight: 700;
    padding: 10px;
    transition: all 0.3s ease;
    width: 200px;
}

.index .inicio-sesion form button:hover {
    background-color: #4b7bff;
    color: #fff;
}