<header>
    <div class="logo-titulo">
        <img src="static/icons/asistencia.png" alt="Logo principal">
        <h1>Gestor de asistencias</h1>
    </div>
    <ul class="lista-rutas">
        <a href="/usuarios" class="enlace-ruta">
            <li class="ruta">
                <span class="material-symbols-outlined">person</span>
                <span>Usuarios</span>
            </li>
        </a>
        <a href="/crear_usuario" class="enlace-ruta">
            <li class="ruta">
                <span class="material-symbols-outlined">person_add</span>
                <span>Crear usuario</span>
            </li>
        </a>
        <a href="" class="enlace-ruta">
            <li class="ruta">
                <span class="material-symbols-outlined">person_edit</span>
                <span>Actualizar usuario</span>
            </li>
        </a>
        <a href="" class="enlace-ruta">
            <li class="ruta">
                <span class="material-symbols-outlined">person_remove</span>
                <span>Eliminar usuario</span>
            </li>
        </a>
        <a href="/clases" class="enlace-ruta">
            <li class="ruta">
                <span class="material-symbols-outlined">group</span>
                <span>Clases</span>
            </li>
        </a>
        <a href="/crear_clase" class="enlace-ruta">
            <li class="ruta">
                <span class="material-symbols-outlined">group_add</span>
                <span>Crear clase</span>
            </li>
        </a>
        <a href="" class="enlace-ruta">
            <li class="ruta">
                <span class="material-symbols-outlined">edit</span>
                <span>Actualizar clase</span>
            </li>
        </a>
        <a href="/asistencias" class="enlace-ruta">
            <li class="ruta">
                <span class="material-symbols-outlined">assignment</span>
                <span>Asistencias</span>
            </li>
        </a>
        <a href="/crear_asistencia" class="enlace-ruta">
            <li class="ruta">
                <span class="material-symbols-outlined">assignment_add</span>
                <span>Crear asistencia</span>
            </li>
        </a>
        <a href="" class="enlace-ruta">
            <li class="ruta">
                <span class="material-symbols-outlined">edit</span>
                <span>Actualizar asistencia</span>
            </li>
        </a>
        <a href="/cerrar_sesion" class="enlace-ruta">
            <li class="ruta">
                <span class="material-symbols-outlined">logout</span>
                <span>Salir</span>
            </li>
        </a>
    </ul>
</header>